<%- include('partials/_header.ejs') %>
<main class="form-container">
  <div class="resource-info">
    <h1 class="title-header">Add New Resource</h1>
    <div class="add-new-container">
      <form id="resourceForm" action="/resources" method="POST">
        <label class="resource-header" for="title">Title:</label>
        <input
        type="hidden"
        name="owner_id"
        value="<%= userId %>"
        />
        <input
          class="resource-profile-field"
          type="text"
          id="title"
          name="title"
          placeholder="Resource Name"
          required
        /><br />
        <label class="resource-header" for="description">Description:</label>
        <textarea
          class="resource-profile-field"
          id="description"
          name="description"
          placeholder="Resource Description"
          required
        ></textarea
        ><br />
        <label class="resource-header" for="resource_url">URL:</label>
        <input
          class="resource-profile-field"
          type="text"
          id="resource_url"
          name="url"
          placeholder="Resource URL"
          required
        /><br />
        <label class="resource-header" for="thumbnail_url">Image URL:</label>
        <input
          class="resource-profile-field"
          type="text"
          id="thumbnail_url"
          name="thumbnail_img"
          placeholder="Image URL"
          required
        /><br />
        <label class="resource-header" for="category_id"
          >Choose a Category:</label
        >
        <select id="category_id" name="category_id">
          <option value="" selected disabled hidden class="placeholder">
            Choose a Category
          </option>
          <option value="1">HTML</option>
          <option value="2">CSS</option>
          <option value="3">Javascript</option>
          <option value="4">React</option>
          <option value="5">Node</option>
        </select>
        <div class="button-area">
          <button class="resource-button" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</main>
