$green: #015c68;
$teal: #5c8888;
$nav-font: #4c5265;
$link-hover: #f1f2f4;
$body-background: (#f1f2f4 100%);
$white: #ffffff;
$gray: gray;
$white-opacity: rgba(255, 255, 255, 0.85);
$rating-color: #FFDD63;
$likes-color: #EB7676;
$box-shadow: 8px 8px 30px 0px rgba(165, 174, 206, 0.75);
