@use 'variables' as v;

.category-title{
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 12px;
  color: v.$teal;
  font-size: 1.5em;
  margin: 5px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 10px;
}
.category-title:hover{
  color:#d1aa1e;
}
